interop/conf/RMInteropService.wsdl

<wsdl:definitions xmlns:tns="http://tempuri.org/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://tempuri.org/">
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://tempuri.org/"
			attributeFormDefault="unqualified"
			elementFormDefault="qualified" >
			
			<xsd:element name="Ping">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Text" minOccurs="0"
							type="xsd:string" nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="EchoStringRequest.BodyType">
				<xsd:sequence>
					<xsd:element name="Text" minOccurs="0"
						type="xsd:string" nillable="true" />
					<xsd:element name="Sequence" minOccurs="0"
						type="xsd:string" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="echoString" type="tns:EchoStringRequest.BodyType" nillable="true" /> 

			<xsd:complexType name="EchoStringResponse.BodyType">
				<xsd:sequence>
					<xsd:element name="EchoStringReturn" minOccurs="0"
						type="xsd:string" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="echoStringResponse" type="tns:EchoStringResponse.BodyType" nillable="true"/>

        </xsd:schema>
		
	</wsdl:types>
	
	
	<wsdl:message name="EchoStringRequest">
		<wsdl:part name="part1" element="tns:echoString" />
	</wsdl:message>
	
	<wsdl:message name="EchoStringResponse">
		<wsdl:part name="part1" element="tns:echoStringResponse" />
	</wsdl:message>
	
	<wsdl:message name="PingRequest">
		<wsdl:part name="part1" element="tns:Ping" />
	</wsdl:message>
	
    <wsdl:portType name="RMInteropServicePortType">
	
		<wsdl:operation name="EchoString">
			<wsdl:input message="tns:EchoStringRequest"
				wsaw:Action="urn:wsrm:EchoString" />
			<wsdl:output message="tns:EchoStringResponse"
				wsaw:Action="urn:wsrm:EchoStringResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="Ping">
			<wsdl:input message="tns:PingRequest"
				wsaw:Action="urn:wsrm:Ping" />
		</wsdl:operation>
		
    </wsdl:portType>
	
	<wsdl:binding name="RMInteropServiceSOAP11Binding"
		type="tns:RMInteropServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="EchoString">
			<soap:operation soapAction="urn:wsrm:EchoString"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<soap:operation soapAction="urn:wsrm:Ping" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="RMInteropServiceSOAP12Binding"
		type="tns:RMInteropServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
			
		<wsdl:operation name="EchoString">
			<soap12:operation soapAction="urn:wsrm:EchoString"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="Ping">
			<soap12:operation soapAction="urn:wsrm:Ping"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="RMInteropService">
		<wsdl:port name="RMInteropServiceSOAP11port_http"
			binding="tns:RMInteropServiceSOAP11Binding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
		<wsdl:port name="RMInteropServiceSOAP12port_http"
			binding="tns:RMInteropServiceSOAP12Binding">
			<soap12:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>